{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ANT</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .hidden { display: none; }
    </style>
</head>
<body>
<h1>ANT</h1>

<div class="container">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="input-tab" data-toggle="tab" href="#input" role="tab" aria-controls="input" aria-selected="true">Input</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="output-tab" data-toggle="tab" href="#output" role="tab" aria-controls="output" aria-selected="false">Output</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="input" role="tabpanel" aria-labelledby="input-tab">
            <div class="row">
                <!-- Left sidebar -->
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        {% for field in form %}
                           <a class="nav-link" id="v-pills-{{ field.name }}-tab" data-toggle="pill" href="#v-pills-{{ field.name }}" role="tab" aria-controls="v-pills-{{ field.name }}" aria-selected="false">{{field.label}}</a>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-9">
                    <form id="inputForm" method="POST">
                        {% csrf_token %}
                        <div id="dynamicInputs" class="tab-content">
                            {% for field in form %}
                                <div class="tab-pane fade" id="v-pills-{{ field.name }}" role="tabpanel" aria-labelledby="v-pills-{{ field.name }}-tab">
                                    {{ field|as_crispy_field }}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Generate</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="output" role="tabpanel" aria-labelledby="output-tab">
            <div id="result"></div>
            <button type="button" class="btn btn-secondary" id="regenerate">Regenerate</button>
            <button type="button" class="btn btn-success" id="addArticle">+ Neuer Artikel</button>
        </div>
    </div>
</div>

<style>
textarea::before {
    content: "";
    height: 1px;
    display: inline-block;
    vertical-align: top;
}
.align-top {
    line-height: normal;
    padding: 0;
    height: 500px;
    overflow-y: auto;
    width: 100%;
    resize: both;
    text-align: start;
}
textarea.other-control {
    margin-bottom: 10px;
}
</style>

<script>

    function autoResize(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
    }

    $(document).ready(function() {

        $("#inputForm").on('submit', function(e) {
            e.preventDefault();
            const data = new FormData(this);

            fetch('my-view/', { method: 'POST', body: data })
                .then(response => response.json())
                .then(function(response) {
                    populateOutputFields(response);
                    $('#myTab a[href="#output"]').tab('show');
                })
                .catch(error => console.error('Error:', error));
        });

        $('#regenerate').click(function() {
            $('#inputForm').submit();
        });

        $('#addArticle').click(function() {

        });
    });

    function populateOutputFields(data) {
    $('#result').empty();
    Object.keys(data).forEach(function(key) {
        const header = `<h3>${key}</h3>`;
        if(key !== 'Text') {
            const rows = data[key].split('\n').map((row, index) => {
                const outputtextarea = document.createElement('textarea');
                outputtextarea.classList.add('other-control');
                outputtextarea.rows = '10';
                outputtextarea.id = `outputtextarea-${index}`;
                outputtextarea.style.marginBottom = "10px";
                outputtextarea.textContent = row;
                outputtextarea.height = 100
                const newDiv = document.createElement('div');
                newDiv.appendChild(outputtextarea);
                $('#result').append(newDiv);
                autoResize(outputtextarea);
                return newDiv.outerHTML;
            }).join('');
            $('#result').append(`<div>${header}${rows}</div>`);
        } else {
            const outputtextarea = document.createElement('textarea');
            outputtextarea.classList.add('other-control');
            outputtextarea.rows = '10';
            outputtextarea.id = 'outputtextarea';
            outputtextarea.style.marginBottom = "10px";
            outputtextarea.textContent = data[key];
            const newDiv = document.createElement('div');
            newDiv.appendChild(outputtextarea);
            $('#result').append(newDiv);
            autoResize(outputtextarea);
            const content = newDiv.outerHTML;
            $('#result').append(`<div>${header}${content}</div>`);
        }
    });
}

</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>