{% load static %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>ANT</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">.
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<div id="buttons" class="w-full flex justify-center items-center">
    <button id="inputMenu" class="btn btn-1 custom-btn w-5/8 min-w-[125px] h-[6.25vh] min-h-[50px] flex items-center justify-center my-5 relative text-lg font-bold" style="background-color: #292929;" onclick="changeTab('input')">Input</button>
    <button id="outputMenu" class="btn custom-btn w-5/8 min-w-[125px] h-[6.25vh] min-h-[50px] flex items-center justify-center my-5 relative text-lg font-bold" style="background-color: #292929;" onclick="changeTab('output')">Output</button>
</div>
<div class="spinner-background">
  <div class="spinner"></div>
</div>

<div id="input" class="mx-auto px-4 sm:px-6 lg:px-8" style="margin: 50px;">
    <form id="inputForm" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'words' %}
                {% if field.name == 'thema' %}
                    {% with thema_html=field %}
                    {% endwith %}
                {% else %}
                <div class="form-group">
                    <label class="form-label">{{ field.label }}</label>
                    <div class="field-content" style="display: {% if field.name == 'thema' or forloop.first %}block{% else %}none{% endif %};">
                        {{ field }}
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {{ form.words }}
    <div class="relative w-3/4 mb-6 mx-auto">
    <label for="labels-range-input" class="sr-only">Labels range</label>
    <input id="labels-range-input" type="range" value="750" min="0" max="5000" step="50" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
    <div id="slider-tooltip" class="absolute top-0 -mt-8 ml-3 bg-gray-200 rounded-full px-2 py-1 text-xs cursor-default invisible">
    </div>
    <div class="absolute w-full flex justify-between mt-4 mb-4">
        <span class="text-sm text-gray-500 dark:text-gray-400">0</span>
        <span class="text-sm text-gray-500 dark:text-gray-400">500 </span>
        <span class="text-sm text-gray-500 dark:text-gray-400">1000 </span>
        <span class="text-sm text-gray-500 dark:text-gray-400">1500 </span>
        <span class="text-sm text-gray-500 dark:text-gray-400">2000 </span>
        <span class="text-sm text-gray-500 dark:text-gray-400">2500 </span>
        <span class="text-sm text-gray-500 dark:text-gray-400">3000 </span>
        <span class="text-sm text-gray-500 dark:text-gray-400">3500 </span>
        <span class="text-sm text-gray-500 dark:text-gray-400">4000 </span>
        <span class="text-sm text-gray-500 dark:text-gray-400">4500 </span>
        <span class="text-sm text-gray-500 dark:text-gray-400">5000 </span>
    </div>
</div>
    <div class="flex justify-left mt-4 mb-8 h-12">
        <div class="form-group mr-4 w-2/3 mt-8 mb-4 h-12">
            <label class="form-label h-12">{{ form.thema.label }}</label>
            <div class="textarea_thema">{{ form.thema }}</div>
        </div>
        <button id="generate" type="submit" class="custom-btn font-bold py-2 px-4 rounded mt-8 mb-4 h-12">Generate</button>
    </div>

    </form>
</div>

<div id="output" class="mx-auto px-4 sm:px-6 lg:px-8 mt-8 hidden">
    <div class="tabs">
        <!-- Tabs will be populated here -->
    </div>
    <div id="result">
        <!-- Content for each tab will be displayed here -->
    </div>
    <button type="button" class="inline-block text-white font-bold py-2 px-4 rounded" id="regenerate" style="background-color: #4e4e4e;">Regenerate</button>
    <button type="button" class="inline-block text-white font-bold py-2 px-4 rounded ml-4" id="addArticle" style="background-color: #41efb4;">+ Neuer Artikel</button>
</div>
<script src="{% static 'js/script.js' %}"></script>.
</body>
</html>
